#zoneDeJeux{
    width: 800px;
    height: 600px;
    top: 0;
    left: 100px;
    background-image: url('images/zoneDeJeux2.jpg');
    position: absolute;
}
#bordureG{
    width: 100px;
    height: 600px;
    top: 0;
    left: 0;
    background-image: url('images/zoneDeJeux.jpg');
    position: absolute;
}
#bordureD{
    width: 100px;
    height: 600px;
    top: 0;
    left : 900px;
    background-image: url('images/zoneDeJeux.jpg');
    position: absolute;
}
.jeuxALICE{width: 1000px; position: relative; height: 600px; overflow: hidden;}
#alice{
    width: 80px;
    height: 80px;
    top: 10px;
    left: calc(50% - 25px);
    background-image: url('images/zoneDeJeux3.jpg');
    position: absolute;
}
.missileTire{
    width: 20px;
    height: 20px;
    background-image: url('images/missile.jpg');
    position: absolute;
}
